main{
    color:#000000;
}

.list h3{
    color: white;
}

.shoplist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:1vw;
    max-width: 100%;
}

.shoplist h3{
    color:black;
}

.shop_elem{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin:10px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 5px;
    background-color:#ffffff;
    max-width: 200px;
}

.shop_elem img{
    max-width: 120px;
    max-height: 120px;
    justify-content: center;
}
.shop_elem .rating{
    display: flex;
    flex-direction: row;
}

.rating .checked {
    color: orange;
  }

.shop_elem .cart_button{
    width: 100%;
    min-height: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 10px;
    background-color:#1b2bbf;
    color: #ffffff;
}

.shop_elem .cart_delete{
    background-color: #ff0202;
}

.cart_button:hover{
    background-color: rgb(1, 10, 185);    
}
.cart_button:active{
background-color: rgb(11, 0, 216);   
}

.cart_delete:hover{
    background-color: rgb(163, 0, 0);    
}
.cart_delete:active{
background-color: rgb(200, 0, 0);   
}

.shop_elem .quantity_div{
    display: flex;
    flex-direction: row;
}

.quantity_div .quantity{
    width: 100%;
    min-height: 20px;
    border-radius: 5px;
    outline: none;
    margin: 10px;
}

.quantity_div .plus_button{
    background-color:#00ff66;
    width: 100%;
    min-height: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin:10px;
    margin-right: 0px;
}
.plus_button:hover{
        background-color: rgb(47, 148, 0);    
}
.plus_button:active{
    background-color: rgb(59, 186, 0);    
}

.quantity_div .minus_button{
    background-color:#ff0202;
    width: 100%;
    min-height: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 10px;
    margin-left: 0px;
}

.minus_button:hover{
    background-color: rgb(154, 0, 0);    
}
.minus_button:active{
    background-color: rgb(200, 0, 0);    
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(65, 87, 212);
    min-width: 70vh;
    display: block;
    padding: 2.5rem;
    margin:2em auto 2em auto;
}
.confirmbutton{
    background-color: rgb(255, 255, 255);
    padding:10px;
    margin: 10px;
    max-width: 200px;
    border-radius: 5px;
    border-color: rgb(115, 255, 0);
    border-width: 20px;
}