main{
    color:#000000;
}

.shoplist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:50px
}

.shop_elem{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin:10px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 5px;
    background-color:#ffffff;
    max-width: 200px;
}

.shop_elem img{
    max-width: 120px;
    max-height: 120px;
    justify-content: center;
}

.shop_elem .cart_button{
    width: 100%;
    min-height: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 10px;
    background-color:#1b2bbf;
    color: #ffffff;
}

.shop_elem .quantity_div{
    display: flex;
    flex-direction: row;
}

.quantity_div .quantity{
    width: 100%;
    min-height: 20px;
    border-radius: 5px;
    outline: none;
    margin: 10px;
}

.quantity_div .plus_button{
    background-color:#00ff66;
    width: 100%;
    min-height: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin:10px;
    margin-right: 0px;
}

.quantity_div .minus_button{
    background-color:#d70404;
    width: 100%;
    min-height: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 10px;
    margin-left: 0px;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(65, 87, 212);
    min-width: 70vh;
    display: block;
    padding: 2.5rem;
    margin:2em auto 2em auto;
}