html,body{
  height: 100%;
  width: 100%;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 100%;
}

.bg{
  background-image: url("../images/carrefivehome.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  z-index: 0;
}




/* Header */

.header img{
  height: 50px;
}


/* Navbar */

.searchbar{
  float:right;
}

.inputbar{
  border-radius: 50px 0  0 50px;
  padding-left: 20px;
}

.srcbtn{
  border-radius: 0 50px 50px 0;
  
}
.srcbtn img{
  height:1.2em;
}


li input {

  padding: 6px;
  margin:7px;
  margin-right: 0;
  border: none;
  font-size: 17px;
  
}

li button {
  float: right;
  padding: 6px;
  margin:7px;
  margin-left: 0;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;

}

li button:hover{
  background-color: #ccc;
}


a:link{
    color: white;
    text-decoration-line: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover{
    background-color: #1b2bbf;
    text-decoration: underline;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

  .noline:hover{
    text-decoration: none;
  }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1b51bf;
  }
  
  li{
    float:left
  }
  ul img{
    height:2.95rem;
    float:left
  }

  .signin{
    float: right;
    background-color: #1b51bf;
  }



   /* Dropdown Button */
.dropbtn {

  background-color: #1b51bf;
  color: white;
  padding: 14px 20px;
  font-size: 17px;
  margin:0px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  float:right;
  position:static;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position:absolute;
  right:0;
  top:3rem;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; float:left;z-index: 1;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #1b2bbf;} 


  /*form*/

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #1b51bf;
    min-width: 250px;
    width:20vw;
    display: block;
    padding: 2.5rem;
    margin:2em auto 2em auto;
}

.container .form-element{
    position: relative;
    padding-bottom: 1em;
}

.form-input{
    position: relative;
    width: 100%;
    height: 3.2em;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 1em;
    padding-top: 0.85em;
}

.floating-label{
    position: absolute;
    width: 100%;
    top: 32%;
    left: 1em;
    color: #444;
    font-size: 18px;
    cursor: text;
    transition: top 200ms ease-in, font-size 200ms ease-in;
}   

input:focus ~ .floating-label,
.form-input:not(:placeholder-shown).form-input:not(:focus) ~ .floating-label{
    top:0.5em;
    font-size: 0.75rem ;
    padding: 0 0.125em;
}

.btn{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color:#1b2bbf;
    color: #ffffff;

}

.btn:hover{
    background-color: #0f186b;
    transition-duration: 200ms;
}

.container a{
    color: #ffffff;
}

.container .start{
  position: relative;
  border-radius: 5px;
  background-color: #004B8D;
  width: min-content;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;

}
.start a{
  display: flex;
  flex-direction: row;
}


.container .start:hover{
  background-color: #1b2bbf;
}

footer{
  background-color: #1b2bbf;
  color: #ccc;
  display: flex;
  padding: 15px 30px 15px 30px ;
  max-width: 100%;
  border: 10px;
  margin-top: auto;
}

footer hr{
  color: #ccc;
}

h3, h4{
  color: white;
}




